.cart-icon{
    background: url(/assets/icons.svg) 16% 0% no-repeat;
    width: 32px;
    height: 22px;
    display: inline-block;
    zoom: 109%;
}
.search-icon{
    background: url(/assets/icons.svg) 0% 0% no-repeat;
    width: 30px;
    height: 26px;
    display: inline-block;
    zoom: 90%;
}
.adminpart-search-icon{
    background: url(/assets/icons.svg) 0% 0% no-repeat;
    zoom: 90%;
}
.facebook-icon{
    background: url(/assets/icons.svg) 33% 0% no-repeat;
    width: 30px;
    height: 26px;
    display: inline-block;
    zoom: 90%;
}
.twitter-icon{
    background: url(/assets/icons.svg) 51% 0% no-repeat;
    width: 30px;
    height: 26px;
    display: inline-block;
    zoom: 90%;
}
.insta-icon{
    background: url(/assets/icons.svg) -2% 17% no-repeat;
    width: 30px;
    height: 26px;
    display: inline-block;
    zoom: 90%;
}
.linkedin-icon{
    background: url(/assets/icons.svg) 16% 17% no-repeat;
    width: 30px;
    height: 26px;
    display: inline-block;
    zoom: 90%;
}
.share-icon{
    background: url(/assets/icons.svg) 35% 17% no-repeat;
    width: 30px;
    height: 26px;
    display: inline-block;
    zoom: 90%;
}
.cancel-icon{
    background: url(/assets/icons.svg) 50% 17% no-repeat;
    width: 30px;
    height: 23px;
    display: inline-block;
    zoom: 60%;
}
.no-result-icon{
    background: url(/assets/icons.svg) 0% 37% no-repeat;
    width: 26px;
    height: 23px;
    display: inline-block;
    zoom: 400%;
}
.order-processed-icon{
    background: url(/assets/icons.svg) 16% 33% no-repeat;
    width: 26px;
    height: 26px;
    display: inline-block;
    zoom: 84%;
}
.order-processed-white-icon{
    background: url(/assets/icons.svg) 33% 33% no-repeat;
    width: 26px;
    height: 26px;
    display: inline-block;
    zoom: 84%;
}
.order-shipped-icon{
    background: url(/assets/icons.svg) 17.5% 51% no-repeat;
    width: 26px;
    height: 25px;
    display: inline-block;
    zoom: 100%;
}
.order-shipped-white-icon{
    background: url(/assets/icons.svg) 34.5% 51% no-repeat;
    width: 26px;
    height: 25px;
    display: inline-block;
    zoom: 100%;
}
.order-enroute-icon{
    background: url(/assets/icons.svg) 52% 33% no-repeat;
    width: 26px;
    height: 23px;
    display: inline-block;
    zoom: 100%;
}
.order-enroute-white-icon{
    background: url(/assets/icons.svg) 0% 50% no-repeat;
    width: 26px;
    height: 23px;
    display: inline-block;
    zoom: 100%;
}
.order-delivered-icon{
    background: url(/assets/icons.svg) 51% 52% no-repeat;
    width: 26px;
    height: 25px;
    display: inline-block;
    zoom: 100%;
}
.order-delivered-white-icon{
    background: url(/assets/icons.svg) 0% 68% no-repeat;
    width: 26px;
    height: 23px;
    display: inline-block;
    zoom: 100%;
}
.delete-product-icon{
    background: url(/assets/icons.svg) 17.5% 68% no-repeat;
    zoom: 100%;
    width: 26px;
    height: 26px;
    display: inline-block;
}
.edit-product-icon{
    background: url(/assets/icons.svg) 34.5% 68% no-repeat;
    zoom: 100%;
    width: 26px;
    height: 26px;
    display: inline-block;
}
.view-order-details-icon{
    background: url(/assets/icons.svg) 51% 68% no-repeat;
    zoom: 100%;
    width: 26px;
    height: 26px;
}
.accept-order-icon{
    background: url(/assets/icons.svg) 0% 86% no-repeat;
    zoom: 100%;
    width: 26px;
    height: 26px;
    display: inline-block;
}
.reject-order-icon{
    background: url(/assets/icons.svg) 17% 86% no-repeat;
    zoom: 100%;
    width: 26px;
    height: 26px;
    display: inline-block;
}
.no-orders-icon{
    background: url(/assets/icons.svg) 34% 85% no-repeat;
    width: 26px;
    height: 23px;
    display: inline-block;
    zoom: 400%;
}
.order-pending-icon{
    background: url(/assets/icons.svg) 51% 85% no-repeat;
    width: 26px;
    height: 23px;
    display: inline-block;
    zoom: 400%;
}
.order-pending-white-icon{
    background: url(/assets/icons.svg) 0% 101% no-repeat;
    width: 26px;
    height: 23px;
    display: inline-block;
    zoom: 100%;
}
.order-rejected-icon{
    background: url(/assets/icons.svg) 17% 103% no-repeat;
    zoom: 100%;
    width: 26px;
    height: 26px;
    display: inline-block;
}
.notification-icon{
    background: url(/assets/icons.svg) 34% 103% no-repeat;
    zoom: 110%;
    width: 26px;
    height: 26px;
    display: inline-block;
}
.payment-info-icon{
    background: url(/assets/icons.svg) 51% 103% no-repeat;
    zoom: 110%;
    width: 26px;
    height: 26px;
    display: inline-block;
}