<div class="container custom-cart-container">
    <div class="row">
        <div>
            <div class="card custom-cart-card">
                <div class="table-responsive">
                    <div class="accept-order-icon zoomed-icon"></div>
                    <div class="order-placed-text-outer">
                        <p class="order-placed-text">Order Placed Successfully.</p>
                        <!-- <p class="order-placed-total-price">Total Price for 1 Item: 450 S$.</p> -->
                    </div>
                    <div class="goto-orders-page">
                        <a class="btn btn-secondary order-page-button" href="/order-tracking?id={{data._id}}">
                            Track My Order
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>