@import './../../css/settings.scss';
@import './../../css/svg.scss';

.custom-cart-container{
    margin-top: 60px;
    margin-bottom: 60px;
}
.custom-cart-card{
  background-color: #ffffff;
  padding: 2rem;
  margin: 2.5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(127, 157, 187, 0.2) 0px 8px 24px;
}
.row{
    justify-content: center;
}
.table-responsive{
    text-align: center;
}
.zoomed-icon{
    zoom: 450%;
    animation: zoom-in-zoom-out 2s ease-out infinite;
}
@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(0.5, 0.5);
    }
    50% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(0.5, 0.5);
    }
  }
.order-placed-text-outer{
    margin-bottom: 1rem;
}
.order-placed-text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.order-page-button{
    padding: 0.75rem 1rem;
    background-color: #393d46;
    margin: 0;
}
.order-placed-total-price{
    font-size: 16px;
}
@media only screen and (max-width: 767px){
    .custom-cart-card{
        // margin: 1rem auto;
        padding: 1rem;
    }
    .zoomed-icon{
        zoom: 400%;
    }
}