<div class="container custom-cart-container">
  <div class="addprodcontainer">
    <div class="row mb-3">
      <div class="col-sm-12">
        <h3>REFUND POLICY</h3>
      </div>
    </div>
    <div class="row mb-3">
      <ul style="list-style-type: disc">
        <li>
          A representative of the Multi Tech Marine Engineering must first
          authorise it before returning an item. Please visit the contact page
          for information.
        </li>

        <li>
          All returns must be made in two weeks from the original date of
          purchase to get a full refund.
        </li>

        <li>
          All returned components must be fresh and unused in their original
          packing to get a complete refund.
        </li>

        <li>Refunds for electronic parts may or may not be available.</li>

        <li>
          Unless otherwise specified by one of our employees, the client is
          responsible for shipping charges.
        </li>

        <li>
          All returns are subject to a restocking fee, unless otherwise stated
          by one of our employees.
        </li>

        <li>All returns must have a copy of the invoice.</li>

        <li>
          If your refund is received by Multi Tech Marine Engineering, please
          wait up to 5 working days. Any damages that may occur during shipping
          are not the responsibility of Marine Parts Express. We have the right
          to deny a refund if we deem that the packaging was inadequate, and the
          item was damaged. Please see FedEx's packaging suggestions here.:
          <a
            href="http://www.fedex.com/us/service-guide/our-services/package-shipment/index.html"
            >http://www.fedex.com/us/service-guide/our-services/package-shipment/index.html</a
          >
        </li>
      </ul>

      <ul>
        <b>Recommended:</b>
        <li>
          Keep a copy of your return tracking information in case you need it
          again.
        </li>
        <li>
          Please attach a message explaining why the item is being returned. (TO
          <a href="mailto:sales@marineparts.sg">sales@marineparts.sg</a>)
        </li>
      </ul>
    </div>
  </div>
</div>
