.inventory-main{
    height: 100%;
}
.app-header-container{
    height: 7.5%;
}
.main-container{
    min-height: 75%;
    width: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}
.app-footer-container{
    // position: fixed;
    // bottom: 0;
    // width: 100%;
}