<div class="container custom-cart-container">
  <div class="addprodcontainer">
    <div>
      <div class="row mb-3">
        <div class="col-sm-12">
          <h3>{{ title }}</h3>
        </div>
      </div>
      <form
        id="add-product-form"
        (ngSubmit)="saveProduct()"
        [formGroup]="productDetails"
      >
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="form-group">
              <label for="productName" class="control-label"
                >Product Name:</label
              >
              <input
                type="text"
                id="productName"
                class="form-control"
                formControlName="product_name"
                name="product_name"
                placeholder="Name of product"
              />
              <span
                *ngIf="f.product_name.errors?.maxlength"
                class="error-message"
                >name cannot be more than 200 characters.</span
              >
            </div>

            <div class="form-group">
              <label for="productPartNumber" class="control-label"
                >Part Number:</label
              >
              <input
                type="text"
                id="productPartNumber"
                class="form-control"
                formControlName="part_number"
                name="part_number"
                placeholder="part number"
              />
            </div>

            <div class="form-group">
              <label for="productDescription" class="control-label"
                >Product Description:</label
              >
              <textarea
                id="productDescription"
                class="form-control"
                formControlName="product_description"
                name="product_description"
                rows="5"
                placeholder="describe product"
              ></textarea>
              <span
                *ngIf="f.product_description.errors?.maxlength"
                class="error-message"
                >description cannot be more than 300 characters.</span
              >
            </div>
          </div>
          <div
            class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 prodImage-col"
          >
            <div class="prodImage">
              <div class="btn btn-custom" (click)="file.click()">
                select image
              </div>
              <input
                type="file"
                #file
                [multiple]="false"
                (change)="handleFileInput($event.target)"
                style="display: none"
              />
              <div class="image-wrapper" *ngIf="image != null">
                <img [src]="sanitize(getURL)" />
              </div>
              <div class="image-wrapper" *ngIf="isEdit">
                <img [src]="editImg" />
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <label for="productStock" class="control-label">In Stock:</label>
            <input
              type="number"
              id="productStock"
              class="form-control"
              formControlName="stock"
              name="stock"
              placeholder="In stock"
            />
            <span *ngIf="f.stock.errors?.pattern" class="error-message"
              >Enter valid units.</span
            >
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <label for="productUnitCost" class="control-label"
              >Unit Price:</label
            >
            <input
              type="number"
              id="productUnitCost"
              class="form-control"
              formControlName="unit_cost"
              name="unit_cost"
              placeholder="unit cost"
            />
            <span *ngIf="f.unit_cost.errors?.pattern" class="error-message"
              >Enter valid unit cost.</span
            >
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <label for="productSellingPrice" class="control-label"
              >+40% Price:</label
            >
            <input
              type="number"
              id="productSellingPrice"
              class="form-control"
              [value]="sellingprice"
              placeholder="price"
              readonly
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <label class="control-label">Details:</label>
            <div
              class=""
              formArrayName="details"
              *ngFor="let detail of details.controls; let i = index"
            >
              <div [formGroupName]="i" class="form-group row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="key"
                    name="key"
                    placeholder="key"
                  />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="value"
                    name="value"
                    placeholder="value"
                  />
                </div>
              </div>
            </div>
            <div class="col-sm-12 text-center">
              <div class="btn btn-dark" (click)="addDetails('', '')">
                Add more
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="form-group text-center">
          <button type="submit" class="btn btn-dark btn-custom btn-block">
            Save Product
          </button>
        </div>
        <br />
      </form>
    </div>
  </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
